/* Base styling for dark mode */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

#toggle-theme {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

#toggle-theme .fa-sun, #toggle-theme .fa-moon {
  transition: color 0.3s ease;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

body.dark-mode #toggle-theme {
  color: #fff;
}

/* Additional specific styles */
body.dark-mode #particles-js {
  background-color: #1a1a1a;
}
